<div class="home-middle">
	<div class="search-form">
		<%= form_tag(home_path, :method => "get", id: "search-form") do %>
		<div class="search-text">
		<%= text_field_tag :search,params[:search],{:placeholder => "search users"}%>
		<%= submit_tag "Search", :class=>"search-submit"%>
		</div>
		<% end %>
	</div>
</div>